.helparea-div {
  position: absolute;
  overflow: hidden;
  z-index: 5;
  /* */
  right: 15%;
  width: 70%;
  bottom: 0;
  /* */
  background: rgba(50, 70, 50, 0.9);
  border: 2px solid lime;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.helparea-div .helparea {
  overflow: auto;
  min-height: 300px;
  max-height: 700px; /* overriden by the progress extension if available */
}
.helparea-div .helparea h3 {
  padding: .6em;
}
/* */
.helparea-div .helpkeys {
  display: grid;
  grid-template-columns: 150px auto;
}
.helparea-div .helpkeys>div:nth-of-type(2n+1) {
  text-align: center;
}
/* */
.helparea-div .sessionvars {
  display: grid;
  grid-template-columns: 100px auto;
}
.helparea-div .sessionvars>div:nth-of-type(2n+1) {
  text-align: center;
}

.helparea-div {
  display: none;
}
.deck-helparea .helparea-div {
  display: block;
}
.helpkeys .kbd {
  background-color: rgb(225, 227, 229);
  border-color: rgb(173, 179, 185);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
  color: rgb(36, 39, 41);
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 1.1px;
  padding: 1.1px 6.6px;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  font-size: 18px;
}
@media print {
  .helparea-div {
    display: none;
  }
}
