.deck-container .attribution-wrap {
  /* cover the complete offset parent */
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
.deck-container .attribution-link {
  font-size: 10px;
  color: white;
  background: black;
  border: 1px solid darkgrey;
  opacity: 0.6;
  right: 0;
  bottom: 5px;
  position: absolute;
  padding: 0 5px;
}
