body, html {
  margin: 0;
  padding: 0;
}

.introduction > header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.introduction .deck-container > .slide :first-child {
  margin-top: 32px;
}
.introduction .deck-container.deck-menu > .slide {
  position: relative;
  left: 0;
  top: 32px;
}
.introduction .deck-container.deck-menu > .slide :first-child {
  margin-top: 0;
}

.theme-menu {
  display: none;
  float: left;
  color: #888;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  line-height: 32px;
  height: 32px;
  font-family: sans-serif;
  padding-right: 15px;
  margin-left: 15px;
}
.js .theme-menu {
  display: block;
}
.theme-menu label {
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}
