

.introduction {
	.deck-container {
		width:100%;
		max-width:864px;
		margin:16px auto 0 auto;
		height:540px;
	}
}


.theme-menu {
	display:none;
	float:left;
	color:#888;
	border-left:1px solid #555;
	border-right:1px solid #555;
	line-height:32px;
	height:32px;
	font-family:sans-serif;
	padding-right:15px;
	margin-left:15px;

	.js & {
		display:block;
	}

	label {
		font-size:12px;
		vertical-align:baseline;
		margin:0 4px 0 15px;
	}
}


@media print {
	.theme-menu {
		display:none !important;
	}
}

