.deck-container .slide.image-full > .attribution-wrap, .deck-container .slide.image-full > img, .deck-container .slide.image-full > div.img, .deck-container .slide.image-fit > .attribution-wrap, .deck-container .slide.image-fit > img, .deck-container .slide.image-fit > div.img {
  z-index: -1;
}
.deck-container .slide.image-full > img, .deck-container .slide.image-full > div.img, .deck-container .slide.image-fit > img, .deck-container .slide.image-fit > div.img {
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.deck-container .slide.image-full div.img, .deck-container .slide.image-fit div.img {
  width: 100%;
  height: 100%;
  outline: 2px solid red;
  background-position: center center;
  background-repeat: no-repeat;
}
.deck-container .slide.image-full.image-full div.img, .deck-container .slide.image-fit.image-full div.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.deck-container .slide.image-full.image-fit div.img, .deck-container .slide.image-fit.image-fit div.img {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.deck-container .slide.top-left h2 {
  position: absolute;
  border: 0px;
  top: 50px;
  left: 50px;
}
.deck-container .slide.top-right h2 {
  position: absolute;
  border: 0px;
  top: 50px;
  right: 50px;
}
.deck-container .slide.bottom-left h2 {
  position: absolute;
  border: 0px;
  bottom: 50px;
  left: 50px;
}
.deck-container .slide.bottom-right h2 {
  position: absolute;
  border: 0px;
  bottom: 50px;
  right: 50px;
}
.deck-container .slide.no-title h1, .deck-container .slide.no-title h2 {
  display: none;
}
.deck-container .slide.darkened h2 {
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin: -15px;
}
.deck-container .in3d-table {
  transform: scale(0.7) perspective(600px) rotateX(40deg) rotateZ(-15deg) translate(-30px, -120px);
}
