
/* the time etc */
.timekeeper {
    body:not(.has-clones) & {visibility: hidden;}
    font-size: 28px;
    border-radius: 3px;
    background: black;
    color: white;
    display: inline-block;

    position: absolute;
    left: 840px;
    top: 340px;
    width: 400px;
    padding: 4px;
    margin: -4px;

    .timekeeper-time, .timekeeper-local-relative-time {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        &.timekeeper-local-relative-time {
            color: grey;
        }
        &.timekeeper-time {
            border-left: 2px solid grey;
            /*margin-left: -10px; not needed with the injected template (no space in it)*/
            margin-right: -15px;
        }
    }
    .timekeeper-relative-time {
        margin-top: 5px;
        border-top: 2px solid grey;
        text-align: center;
        font-size: 300%;
    }

    .timekeeper-bang, .timekeeper-clear {
        display: inline-block;
        position: absolute;
        width: 10px; height: 10px;
        left: 45%;
        &.timekeeper-bang {top: 10px;}
        &.timekeeper-clear {top: 23px;}
        border: 2px solid grey;
        border-radius: 15px;
        background: black;
        &:not(.timekeeper-notification) {
            transition: background 300ms linear;
            -webkit-transition: background 300ms linear;
        }
        &.timekeeper-notification {
            border-color: white;
            background: green;
            &.timekeeper-clear {
                background: red;
            }
        }
    }
}

/* the logs */
.timekeeper-logs {
    visibility: hidden;
    &.timekeeper-logs-visible {
        visibility: visible;
    }
    border: 2px solid black;
    border-radius: 2px;
    background: #111;
    color: yellow;
    padding: 5px;
    font-size: 10px;
    position: absolute;
    width: 500px; right:0;
    top: 0; bottom: 0;
    opacity: .8;
    overflow-y: scroll;
}
